/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTiposPrimitivos/nbproject/private/
/TesteTiposPrimitivos/build/
/JavaApplication6/nbproject/private/
/JavaApplication7/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/Calculadoraidade/nbproject/private/
/Calculadoraidade/build/
/Calculadoraidade/dist/
/GenioAdvinhacao/build/
/GenioAdvinhacao/dist/
/GenioAdvinhacao/nbproject/private/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/ProgramaEquacaoSegundoGrau/nbproject/private/
/ProgramaEquacaoSegundoGrau/build/
